/* MobileNav.css */
.mobile-menu {
  width: 100vw;
  height: 100vh;
  display: none;
  background: radial-gradient(circle, #1b0130, #000000);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  opacity: 0;
  transform: translateX(-100vw);
  transition: all 0.6s ease-in-out;
  overflow: hidden;
}

.mobile-menu.active {
  display: block;
  opacity: 1;
  transform: translateX(0);
}

.mobile-menu-container {
  width: 70vw;
  height: 100vh;
  background: radial-gradient(circle, #2a2a2a, #000000);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.8);
  padding: 2rem;
  position: relative;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}
.logo {
  width: 80px;
  /* margin-bottom: 2rem; */
}
.mobile-logo {
  width: 150px;
  margin-bottom: 2rem;
}

.mobile-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mobile-h{
  margin-top: 40px;
}
.mobile-menu-item a {
  word-spacing: 2px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: color 0.3s ease;

}

.mobile-menu-item a:hover {
  color: #ff6bcb;
  text-shadow: 0 0 10px rgba(255, 107, 203, 0.8);
}

.rocket-button {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(45deg, #ff6bcb, #ff2d55);
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.rocket-button:hover {
  transform: scale(1.1);
}
